---
title: Banner Testing
nav_order: 1
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	
	{% include common-head-top.html %}
	{% include common-styles.html %}
	{% include common-head.html %}
</head>
<body>
	{% include page-header.html %}
	{% include site-nav.html %}

	<h1>Landing Page, Banner</h1>
	<p>This sample demonstrates a banner if no preferences selected and a fixed footer used for privacy-related links and consent controls.</p>

	<h2>What to observe</h2>
	<ul>
		<li>A consent banner if no preferences made.</li>
		<li>If using Global Privacy Control (GPC) the only configured non-essential cookie to not track will be Advertising by deault.</li>
	</ul>

	<h2>Navigation</h2>
	<p>Use the navigation above to move between the other test samples and compare behaviors.</p>

	{% include site-footer.html %}
</body>
</html>
